* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  width: 100%;
}

/* Maria part starts here */

header {
  background-image: url(photoshop/design-assets/bgk-header.png);
  margin: 0px 0px 50px 0px;
  padding: 0;
  width: 100%;
  height: auto;
  
}
.navbar {
  margin: 0;
  padding: 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
  
}
.navbar div {
  margin: 0;
  padding: 0;    
  display: flex;
  justify-content: space-around;
  
}

.tajam_logo {
  float: left;
  margin: 0px 10px 0px 150px;
}
#tajam {
  color: aqua;
  margin: 0px;
  font-size: 28px;
  font-weight: 100;
}

.navbar a {
  
  color: white;
  text-decoration: none;
  text-align: right;
  text-transform: uppercase;
  vertical-align: middle;
}
.intro_text p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 10px 30px 10px
}
.nav_menu a {
  padding: 0;
  margin: 10px 13px;
}
#aqua {
  color: aqua;
}
.navbar a:visited {
  color: white;
}

a .home:hover {
  color: aqua;
}

header div {
  padding: 150px 150px 110px;
}

header div h1 {
  color: white;
  text-align: center;
  margin: 20px 50px;
  font-family: 'Times New Roman', Times, serif;
}
.maria-hr {
  margin: 20px auto 30px;
  width: 60px;
  border-top: 1px solid aqua;
}
header div p {
  color: white;
  text-align: center;
  margin: 10px 10px;
  line-height: 20px;

}
.button {
  background-color: transparent;
  border: aqua 1px solid;
  border-radius: 1px;
  color: aqua;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}
/* My story*/

#story {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
 
}
.story div {
   padding-top: 0;
   margin-bottom: 50px;

}
.logo2 {
  margin: 30px;

}
.our_story {
   
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   max-width: 640px;
   margin-left: 50px;

}
.our_story  p {
  line-height: 20px;   
  margin: 10px 30px 10px

}
 
.our_story h1 {
  font-family: 'Times New Roman', Times, serif;
  margin: 10px 30px 10px
 
}

.button2 {
  background-color: transparent;
  border: aqua 1px solid;
  border-radius: 1px;
  color: aqua;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 30px ;
  padding: 10px;
 
}


/* Lilian part starts here */

.watch {
  position: relative;
  width: 100%;
  height: 530px;
  background: url("photoshop/design-assets/bgk-middle.png") no-repeat center;
  overflow: hidden;
  color: #FFF;
}

.watch-content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.watch img {
    max-width: 100px;
    max-height: 100px;
}

.watch h3 {
  margin-top: 30px;
  text-align: center;
}

.expertise {
  margin: 70px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(56, 56, 77);
}

.expertise-title {
  text-align: center;
  flex: 1;
}

.expertise-title h2,
.expertise-title p {
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.lilian-hr {
    margin: 20px auto 70px;
    width: 50px;
}

.expertise-grid {
  height: 600px;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.expertise-grid div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 30%;
}

.expertise-grid div figure {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 50px 30px 10px;
}

.expertise-text-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* come back to this tomorrow -> 
.img-nostretch {
    position: relative; 
    min-height: 50px;
}

.img-nostretch img {
    position: absolute; 
    right: 0; 
    bottom: 0;
    transform: translate(-50%, 0);
}

/* come back to this ^ tomorrow */

.expertise-grid div h4,
.expertise-grid div p {
  margin: 20px 30px 10px;
}

.expertise-grid div p {
    margin-bottom: 30px;
    line-height: 1.5rem;
}

.expertise-1,
.expertise-2 {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.expertise-3 {
    border-bottom: 1px solid lightgray;
}

.expertise-4,
.expertise-5 {
  border-right: 1px solid lightgray;
}

/* Uma part starts here */

.d1 {
    background-image: url("photoshop/design-assets/bgk-header.png");
    height: 670px;
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagediv {
    width: 80%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.profile {
    border: 1px solid white;
    margin-right: 2%;
    margin-left: 2%;
    float: left;
    margin-top: 2%;
}

.photo {
    background-color: aliceblue;
    height: 200px;
    width: 200px
}

.profile-name {
  margin: 20px 0;
}

.profile-name h3 {
  margin-bottom: 10px;
}

.profile-name h5 {
  font-weight: normal;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper h6 {
  font-weight: normal;
}

.hiring-btn {
  margin: 20px 0;
}

.clients {
    background-color: white;
    /* text-align: left;*/
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    color: black;
    height: 500px;
    display: flex;
}

.feedback {
    /*flex-wrap:wrap;*/
    width: 50%;
}

.feedback input {
    text-align: left;
    margin-top: 15px;
    border-radius: 3px;
    width: 80%;
    border: 2px solid grey;
    color: gray;
}

.feedback textarea {
    text-align: left;
    margin-top: 15px;
    border-radius: 3px;
    width: 82%;
    border: 2px solid gray;
    color: gray;
}

input {
    text-align: center;
    color: rgb(24, 231, 231);
    border-color: rgb(24, 231, 231);
    width: auto;
    background-color: transparent;
    border: 1px solid;
    border-radius: 3px;
    padding: 10px;
}

h6 {
    font-style: bold;
}

.logos {
    padding: 5px;
    width: 50%;
}

.logos img {
    width: 28%;
    height: 45px;
    padding-right: 10%;
    padding-bottom: 20px;
}

/* Isaiah's part starts here */

h1
{
  font family : verdana;
  font-weight:normal;
  font-size : 50px;
  color: white;
  text-align: center;

}

h2
{
  color:green;
  font-size:16px;
  text-align:center;
  text-decoration:underline;
}
body
{
  text-align: center;
}

footer p
{
  color:rgb(199, 179, 212);
  font-size:16px;
}
img{
  text-align: center;
}

footer{
  display: flex;
  flex-direction: column;
  background-image: url('photoshop/design-assets/bgk-footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 2px;
  font-size: 13px;
  line-height: 20px;
  width: 100%;
  color: white;
  text-align: left;
  height: 450px;  
}


.row {
  width: 70%;
  margin: 50px auto 0;
  display: flex;
  /*flex-wrap: wrap;*/
  align-items: flex-start;
  justify-content: center;
}

.col {
  flex-basis: auto;
  margin: 0 20px;  
  }


footer h2{
  color: aliceblue;
  padding: 5px;
  font-family: Arial;
  text-align: left;
  font-size: 14px;
  text-decoration: none;

}

footer p{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

::placeholder {
  outline: none;
  opacity:0.9;
  font-size: 12px;
  text-align: center;
  background: none;
    
  
}

.button {
  display: flex;
}

.smicon {
  display: flex;
}

.smicon img {
  margin: 0 3px;
}

.copyright{
  color:rgb(199, 179, 212);;
  font-size: 12px;
  width: 55%;
  display: flex;
  margin: 0 auto;
  }

  .privacy{
    color: rgb(199, 179, 212);;
    font-size: 12px;
    width: 50%;
  }

  .copyright-text {
    width: 50%;
    text-align: right;
  }

  input.form-submit-btn {
    display: inline-flex;
    background: #ccc url('/photoshop/design-assets/png/paper122.png') no-repeat center;
    background-color: gray;
    width: 50px;
    height: 40px;
    position: absolute;
  }

  .stay-touch {
    display: flex;
    flex-direction: column;
  }

  .contact-form {
    display: flex;
  }

  .form-submit-btn{
    outline: none;
    border: none;
    background-color: grey;
    margin-left: 10px;
    width: 75px;
    height: 40px;  
  }

  .studio-header {
    margin-bottom: 20px;
  }

  .btn{
     background: transparent;
     width: auto;
     height: 40px;
  }

  .footerlogo{
    color: aqua;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 20px;
  }