html, body {
    margin: 0;
    padding: 0;

}
header {
    background-image: url(photoshop/design-assets/bgk-header.png);
    margin: 0;
    padding: 0;
    width: 100%;
    height: max-content;
    
}
.logo {
    text-align: left;
    padding: 10px 30px;
    margin: 10px 10px;
}
.tajam_logo {
    float: left;
    margin: 0px 20px;
}
.logo p {
    color: aqua;
}
navbar {
    text-align: right;
}
.navbar a {
    color: white;
    text-decoration: none;
    text-align: right;
    text-transform: uppercase;
}
.home a:visited {
    color: aqua;
}
.navbar a:visited {
    color: white;
}

a .home:hover {
    color: aqua;
}
div {
    padding: 150px;
}
header div h1 {
    color: white;
    text-align: center;
    margin: 20px 50px;
}
hr {
    width: 60px;
    border-top: 1px solid aqua;
}
header div p {
    color: white;
    text-align: center;
    margin: 10px 10px;

}
.button {
    background-color: transparent;
    border: aqua 1px solid;
    border-radius: 1px;
    color: aqua;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    padding: 10px;
}