


h1
{
  font family : verdana;
  font-weight:normal;
  font-size : 50px;
  color: white;
  text-align: center;

}

h2
{
  color:green;
  font-size:16px;
  text-align:center;
  text-decoration:underline;
}
body
{
  background-color: grey;
  text-align: center;
}

p
{
  color:white;
  font-size:16px;
}
img{
  text-align: center;
}
